<!DOCTYPE html>
<html lang="en">
<head>
    <style>
  .container {
    width: 800px;
  }
  span {
    margin: 10px 0;
    display: block;
  }
</style>
</head>
<body>

<div class="container">

  <span>Oi, {{ email }}</span>

  <br />

  <span>VocÊ solicitou alteração de senha.</span>
  <span>Para realizar a troca, clique no link</span>
  <a href={{ link }}>{{link}}</a>

  <span>Caso não tenha sido vocÊ que, solicitou a alteração de senha, basta ignorar este e-mail.</span>


</div>
</body>
</html>