<!DOCTYPE html>
<html lang="en">
<head>
    <style>
  .container {
    width: 800px;
  }
  span {
    margin: 10px 0;
    display: block;
  }
</style>
</head>
<body>

<div class="container">

  <span>Oi, {{ email }}</span>

  <br />

  <span>Verifique seu email.</span>
  <a href={{ link }}>{{link}}</a>

</div>
</body>
</html>